# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# Visual Studio Code related
.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
mobile-app/.flutter-plugins
mobile-app/.flutter-plugins-dependencies
.pub-cache/
.pub/
**/build/
**/android/.gradle/
**/android/app/build/
**/ios/Pods/
**/ios/Runner.xcworkspace/

# Generated assets and cache
mobile-app/flutter_assets/
mobile-app/build/app/intermediates/
mobile-app/build/app/generated/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

# Environment files
.env